@import './reset.css';
@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/FontsFree-Net-ApercuMono.ttf') format('woff2');
}

[data-selected-theme="light"] {
  --color-background: #eee; 
  --color-text : #242424;
}

[data-selected-theme="dark"] { 
  --color-background: #242424; 
  --color-text: #eee; 
}

* {
  font-family: monospace;
  font-family: 'Apercu', monospace;
  font-size: 1rem;
}

html {
  background-color: var(--color-background);
}

#app {
  overflow-x: hidden;
}
