@import './reset.css';
@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/FontsFree-Net-ApercuMono.ttf') format('woff2');
}

* {
  font-family: monospace;
  font-family: 'Apercu', monospace;
  font-size: 1rem;
}

html {
  background-color: #242424;
}

#app {
  overflow-x: hidden;
}
